@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: #1f2937;
    color: #F9FAF9;
    font-size: 24px;
    font-weight: 600;
    justify-content: space-around;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    height: 450px;
    background-color: #1f2937;
    color: #F9FAF9;
}

.hero-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 180px 0 200px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-info-text {
    font-size: 18px;
    color: #e5e7eb;
    line-height: 1.4;
    margin-bottom: 20px;
}

.hero-container button {
    flex: 0 0 auto;
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    color: #F9FAF9;
    font-size: 15px;
    border-radius: 15px;
}

.hero-container img {
    flex: 0 0 auto;
    max-width: 280px;
    object-fit: contain;
    margin-right: 200px;
    align-self: center;
    border-radius: 12px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.main-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    align-items: center;
    margin: 40px 200px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 40px 0;
}

.card > div[class^="img-container"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9FAF9;
    border: 3px solid #3882F6;
    border-radius: 12px;
    padding: 10px;
    max-width: 150px;
}

.card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;    
    max-width: 200px;
    text-align: center;
    gap: 10px; 
}

.quote-container {
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    padding: 50px 250px;
    background-color: #e5e7eb;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    color: #1f2937;
    font-weight: bold;
    margin-left: auto;
    font-size: 20px;
}

.sign-up-container {
    display: flex;
    justify-content: space-between;
    width: 1000px; 
    align-items: center;
    margin: 50px auto;
    padding: 40px 100px;
    background-color: #3882F6;
    color: #F9FAF9;
    border: #3882F6;
    border-radius: 12px;
}

.sign-up-text {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sign-up-header {
  font-size: 1.5rem;
  font-weight: bold;
}

.sign-up-container p {
  margin: 5px 0 0;
}

.sign-up-container button {
  padding: 10px 20px;
  background-color: transparent;
  color: #F9FAF9;
  border: 2px solid #F9FAF9;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.footer {
    background-color: #1f2937;
    color: #F9FAF9;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding: 40px;
}