@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}

nav {
    display: flex;
    background-color: #1f2937;
    color: #F9FAF9;
    font-size: 24px;
    font-weight: 600;
    justify-content: space-around;
    padding: 10px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 300;
    font-size: 18px;
    padding: 20px;
}

.hero-container {
    display: flex;
    flex-direction: row;
    height: 450px;
    background-color: #1f2937;
    color: #F9FAF9;
}

.hero-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 0 180px 0 200px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 20px;
}

.hero-info-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-container button {
    flex: 0 0 auto;
    width: 150px;
    height: 40px;
    background-color: #3882F6;
    color: #F9FAF9;
    font-size: 15px;
    border-radius: 15px;
}

.hero-container img {
    flex: 0 0 auto;
    max-width: 280px;
    object-fit: contain;
    margin-right: 200px;
    align-self: center;
}
